.top-bar{
    background: #7aaec4;
    height: 1.8rem;
    padding: 3rem 0;
    color: red!important;
    text-decoration: none;
    font-size: 1.1rem;
 

}
p>a{

    color: red;
}
.navbar-brand img{

    height: 48px;
}

.navbar{

    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    z-index: 1;
}

.nav-item{

    padding: .5rem;
}

.nav-link{

    color: #5b5555!important;
}

.nav-link.active,
.nav-link:hover{

    color: #4981b3!important;
}
#carousel{

    box-shadow:0 1rem 1rem rgba(0,0,0.7);
}
.carousel-inner{

    max-height:40rem!important;
}

.carousel-caption{

    position: absolute;
    top:53%;
    transform: translateY(-60%);
    text-transform: uppercase;
}

.bg-custom{

    background-color: rgba(0,0,0,.4);
}
.carousel-caption h1{

    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgba(0,0,0,1);
}

.border-primary{

    border-top: .2rem solid #4981b3!important;
}
.btn-lg{

    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}
.btn-danger{

    background-color: #5a4543;
    border: .1rem solid #AC2615;
}

.btn-primary:hover,
.btn-primary:focus{

    background-color: #68a0d2!important;
    border: .05rem solid #4981b3!important;
}